



h1{
  text-align: center;
  margin: 10px;
}

ion-item{
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  height: 60px;

}

.a1 {
  margin-left: 170px;
  margin-top: 10px;

}

.or{
  margin-left: 150px;
}
.b1{
  padding: auto;
  margin-top: 10px;
  margin-left: 75px;
  height: 40px;
  width: 150px;
}

.b2{
  margin-top: 10px;
  margin-left: 75px;
  height: 40px;
  width: 160px;
}




